<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Author</h1>

<table>
    <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.getFirstName()}"></td>
        <td th:text="${author.getLastName()}"></td>
    </tr>
</table>

</body>
</html>